<div class="col-md-6 user-container">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="noteName">noteName:</label>
      <input type="text" formControlName="noteName" placeholder="noteName" name="noteName" class="form-control"
        id="noteName">
    </div>

    <div class="form-group">
      <label for="noteInfo">noteInfo:</label>
      <input type="text" formControlName="noteInfo" placeholder="noteInfo" name="noteInfo" class="form-control"
        id="noteInfo">
    </div>

    <div class="form-group">
      <label for="noteParty"> noteParty:</label>
      <input formControlName="noteParty" placeholder="noteParty" name="noteParty" class="form-control" id="noteParty">
    </div>

    <button class="btn btn-success">Add</button>
  </form>
</div>